.contacts {
display: flex;
justify-content: space-between;
width: 915px;
margin: 0 auto;
}

.contact {
width: 245px;
height: 95px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
}

.contact__icon_watch {
background-image: url(../../images/ic_watch_later.svg);
background-repeat: no-repeat;
background-size: cover;
width: 26.11px;
height: 26px;
}

.contact__icon_near {
background-image: url(../../images/ic_near_me.svg);
background-repeat: no-repeat;
background-size: cover;
width: 26.11px;
height: 26px;
}

.contact__icon_call {
background-image: url(../../images/ic_call.svg);
background-repeat: no-repeat;
background-size: cover;
width: 26.11px;
height: 26px;
}
 
.contact__title {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
text-align: center;
}

.contact__subtitle {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 60px;
color: #999999;
}