.recipes {
 background-color:#191919;
 margin: 0 auto;
}

.recipes__container {
margin-top: 60px;
display: flex;
justify-content: space-between;
}

.recipes__tools {
display: flex;
justify-content: space-between;
margin: 10px 26px 20px 30px;
}

.recipes__tools_sweets {
    color: #252525;
}

.recipes__background-for-meal {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 0 15px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.recipes__background-for-meal_mini {
    padding: 0 5px;

}

.recipes__background-for-meal_mini_active {
background-color: rgba(0, 0, 0);
}

.recipes__meal {
font-weight: 900;
font-size: 10px;
line-height: 25px;
text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;
color: #FFFFFF;
}

.recipes__title {
margin-top: 120px;
margin-bottom: 90px;
}

.recipes__breakfast {
min-width: 540px;
min-height: 510px;
background-image: url(../../images/breakfast.png);
background-size: contain;
background-repeat: no-repeat;

}
.recides__breakfast-description {
 padding: 30px 30px 60px 30px;
 display: flex;
flex-direction: column;
align-items: center;
}

.recipes__breakfast-arrow-container {
align-self: flex-end;
border-radius: 100%;
border-style: none;
background-color: rgba(0, 0, 0, 0.3);
padding: 9px;


}

.recipes__breakfast-arrow{
background-image: url(../../images/breakf_arrow.png);
background-repeat: no-repeat;
background-size: contain;
transform: matrix(-1, 0, 0, 1, 0, 0);
width: 12px;
height: 12px;

}

.recipes__breakfast-date {
font-weight: 500;
font-size: 14px;
line-height: 30px;
color: #FFFFFF;
display: flex;
align-items: center;
margin: 0;
margin-top: 65px;

}

.recipes__breakfast-text {
font-weight: 500;
font-size: 24px;
line-height: 40px;
text-align: center;
color: #FFFFFF;
max-width: 411px;
margin: 0;
margin-top: 25px;

}

.recipes__breakfast-author {
    font-weight: 500;
font-size: 14px;
line-height: 30px;
color: #FFFFFF;
margin: 0;
margin-top: 45px;
}

.recipes__statistics {
display: flex;
justify-content: space-between;
min-width: 139px;
margin: 0;
margin-top: 60px;
}

.recipes__views {
margin: 0;
font-size: 12px;
/* line-height: 30px; */
color: #FFFFFF;
display: flex;
align-items: center;
}

.recipes__comments {
    margin: 0;
    font-size: 12px;
    /* line-height: 30px; */
    color: #FFFFFF;  
    display: flex;
align-items: center;
}

.recipes__views:before {
    content: url(../../images/ic_remove_red_eye.png);
    width: 22px;
    height: 15px;
    background-size: contain;
    margin-right: 12px;

}

.recipes__comments:before {
    content: url(../../images/ic_question_answer.png);
    width: 22px;
    height: 15px;
    background-size: contain;
    margin-right: 12px;

}


.recipes__items {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 510px;
}

.recipes__item {
width: 540px;
height: 150px;
background-color: #252525;
border-radius: 6px;
}

.recipes__item_with-back {
background-image: url(../../images/lunch.svg);
background-size: cover;
background-repeat: no-repeat;
}

.recipes__item_active {
background-color: #34C759;
}

.recipes__item-description {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-weight: 500;
font-size: 16px;
line-height: 30px;
color: #FFFFFF;
max-width: 505px;   
}

.recipes__item-description_sweets {
    color: #252525;
}

.recipes__container-for-date {
display: flex;
justify-content: space-between;
min-width: 147px;


}

.recipes__container-for-statistics {
display: flex;
justify-content: space-between;
min-width: 137px;

}


.recipes__date_lunch {
margin: 0;
font-weight: 500;
font-size: 12px;
line-height: 25px;
}
