.page {
 font-family: 'HelveticaNeue';
 background-image: url(../../images/page.png);
 background-color:#191919;
 background-size: cover;
 background-repeat: no-repeat;
 color:#FFFFFF;
 width: 1440px;
 height: 1080px;
}