.page {
 font-family: 'Helvetica Neue', Arial, sans-serif;
 background-image: url(../../images/page.png);
 background-color:#191919;
 background-size: contain;
 background-repeat: no-repeat;
 color:#FFFFFF;
 margin: 0;
}