.section-title {
    position: relative;
    font-size: 30px;
    line-height: 150px;
    letter-spacing: 0.2em;
    color: #D9D9D9;
    text-align: center;
    z-index: 0;
}

.section-title:after {
    position: absolute;
    left: 0;
    top: 0;
    content: attr(text-content);
    font-weight: 900;
    font-size: 100px;
    line-height: 150px;
    color: #303030;
    z-index: -1;
    width: 100%;
    text-align: center;
}