.work__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.work__item {
    max-width: 255px;
    background-color: #252525;
    border-radius: 6px;
}

.work__item-description {
    padding: 24px 24px 42px 24px;
}

.work__item-header {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-transform: capitalize;
}

.work__item-text {
    margin-top: 24px;
    font-size: 13px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.work__item_active {
    background-color: #34C759;
    color: #191919;
}

.work__text_active {
    color: #191919;
}