.chefs {
background-color:#191919;
margin: 0 auto;
}

.chefs__container {
display: flex;
justify-content: space-between;
margin-top: 38px;
width: 1110px;
}

.chefs__title {
margin-top: 120px;
}

.chefs__line {
}

.chefs__chef {
width: 350px;
}

.chefs__photos {
display: flex;
justify-content: space-between;
}

.chefs__photo {

}

.chefs__name {
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
margin: 0;
}

.chefs__job {
font-size: 12px;
line-height: 16px;
font-weight: normal;
color: rgba(255, 255, 255, 0.5);
margin-top: 5px;
margin-bottom: 35px;

}

.chefs__text {
}

.chefs__photo {
    display: block;
    display: block;
    width: 65px;
    height: 65px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.chefs__descripton {
    display: flex;
    align-items: center;
}