.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1100px;
}

.header:after {
    content: "";
    display: block;
    min-height: 2px;
    background-color: #FFFFFF;
    opacity: 0.1;
}

.header__links {
    display: flex;
    align-items: center;
    list-style: none;
}

.header__link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 38px;
    line-height: 90px;
}

.header__link_active {
    color: #34C759;
}

.header__logo {
margin-top: -6px;

}