/* Давай переделывать теперь на :before у асбтрактного блока */

.line:after {
    content: "";
    height: 2px;
    background-color: #34C759;
    width: 56px;
}

.line_type_title {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    margin-top: 120px;
}

.line_theme_dark {
    background-color: #191919;
}