.intro__title {
    font-weight: 300;
    font-size: 72px;
    line-height: 87px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    margin-top: 80px;
    margin-bottom: 16px;
}

.intro__subtitle {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 595px;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
}

.intro__button {
    margin: 0 auto;
}

.intro__contacts {
    margin-top: 70px;
}

.intro__accent {
    font-weight: bold;
}