.line-container {
    display: flex;
    justify-content: center;
}

.line-container__line {
width: 56px;
height: 2px;
background-color: #34C759;
margin: 0 auto;
}

.line-container_work {
margin-left: 24px;
}

.line-container_work-active {
background-color: #191919;
}