.dishes {
    background-color: #191919;
}

.dishes__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}

.dishes__card {
    max-width: 350px;
    background-color: #252525;
    border-radius: 6px;
    margin-bottom: 30px;
    position: relative;
}

.dishes__card-description {
    padding: 29px 30px 24px 30px;
}

.dishes__card-header {
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
    color: #D9D9D9;
    margin: 0;
}

.dishes__card-subtitle {
    font-size: 12px;
    line-height: 16px;
    color: #A4A8B2;
    margin: 0 auto;
    letter-spacing: -0.15px;
}

.dishes__card-text {
    font-size: 13px;
    line-height: 18px;
    color: #85878C;
}

.dishes__card-tools {
    display: flex;
    justify-content: space-between;
}

.dishes__card-stars {
    display: flex;
    margin-right: 14px;
}

.dishes__card-star {
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 26px;
}

.dishes__card-star_type_half-grey {
    background-image: url(../../images/icon-grey-half.svg);
}

.dishes__card-star_type_empty-grey {
    background-image: url(../../images/icon-grey-border.svg);
}

.dishes__card-star_type_full-active {
    background-image: url(../../images/icon-yellow.svg);
}

.dishes__card-star_type_half-active {
    background-image: url(../../images/icon-yellow-half.svg);
}

.dishes__card-star__type_empty-active {
    background-image: url(../../images/icon-yellow-border.svg);
}

.dishes__card-number {
    font-weight: 900;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 1.5px;
    color: #B3B3B3;
}

.dishes__card-star_type_full-grey {
    background-image: url(../../images/icon-grey.svg);
}


.dishes__card-rating {
    display: flex;
    justify-content: space-between;
    min-width: 155px;
    align-items: center;
}

.dishes__card-share {
    position: absolute;
    border-radius: 100%;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 9px;
    right: 24px;
    top: 24px;
}

.dishes__card-share-icon {
    background-image: url(../../images/ic_share2.png);
    width: 20px;
    height: 20px;
    background-size: contain;
}