.contact {
    min-width: 245px;
}

.contact__icon {
    background-repeat: no-repeat;
    background-size: contain;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.contact__icon_type_watch {
    background-image: url(../../images/ic_watch_later.svg);
}

.contact__icon_type_near {
    background-image: url(../../images/ic_near_me.svg);
}

.contact__icon_type_call {
    background-image: url(../../images/ic_call.svg);
}

.contact__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin: 0;
}

.contact__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #999999;
    text-align: center;
    margin: 0;
}