.recipes__date {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
    margin: 0;
}

.recipes__date_theme_dark {
    color: #1A1A1A;
}

.recipes__date_theme_light {
    color: #FFFFFF;
}

.recipes__date_theme_grey {
    color: #B3B3B3;
}