.social {
    margin: 0 auto;
}

.social-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 120px;
    min-width: 1110px;
}

.social__button {
    border-radius: 30px;
    padding: 0 18px;
}

.social-cards__item {
    /* max-width: ; */
    max-width: 350px;
    background-color: #252525;
    border-radius: 6px;
    position: relative;
}

.social__card-header-container {
    display: flex;
    justify-content: space-between;
    padding: 25px 25px 23px 25px;
}

.social__card-header:after {
    content: "";
    background-color: #303030;
    display: block;
    min-height: 2px;
}

.social__card-social-info {
    display: flex;
    justify-content: space-between;
}

.social__card-icon {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

.social__card-icon-twitter {
    background-image: url(../../images/ic_twitter.svg);
}

.social__card-icon-instagram {
    background-image: url(../../images/ic_instagram.svg);
}

.social__card-icon-facebook {
    background-image: url(../../images/ic_facebook.svg);
}

.social__card-social-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #BFBFBF;
    text-align: center;
    display: flex;
    align-items: center;
}


/* через превдоэлемент */


/* .social__card-line {
    height: 2px;
    background: #303030;
} */

.social__card-container {
    padding: 20px 40px 20px 30px;
}

.social__card-date {
    /* у social__card-date, social__card-text, social__card-copywright  манджины до краев картчки не нужны
сделай через падинг у общего еонтейнера для social__content который создать нужно
*/
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #737373;
    margin: 0;
}

.social__card-text {
    min-width: 280px;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
}

.social__card-copywright {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #34C759;
    margin: 0;
    margin-top: 10px;
}

.social__card-photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* не нужна высота*/
}

.social__card-button-for-icon {
    border: 2px solid #303030;
    border-radius: 100%;
    padding: 7px;
    background-color: #262626;
    margin-right: 20px;
}

.social__card-arrow-container {
    align-self: flex-end;
    border-radius: 100%;
    border-style: none;
    background-color: #34C759;
    position: absolute;
    top: 131px;
    right: 152px;
    padding: 9px;
}

.social__card-photo {
    background-size: contain;
}

.social__card-arrow {
    background-image: url(../../images/cosial.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    height: 12px;
}

.social__scroll {
    position: absolute;
    right: 15px;
    top: 120px;
    background-color: #303030;
    border-radius: 100px;
    width: 4px;
    height: 92px;
}

.social__scroll_light {
    background-color: #FFFFFF;
    opacity: 0.5;
}